@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

.class-card {
  background-color: #FFB200;
  border: 1px solid rgba(255, 178, 0, 0.44); /* Fixed border */
  border-radius: 16px;
  padding: 15px;
  margin: 10px;
  background: rgba(255, 178, 0, 0.60);
  box-shadow: 0 0 10px rgba(197, 142, 0, 0.6), /* Outer glow */ 
              0 0 15px rgba(255, 178, 0, 0.6); /* Inner glow */
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  transition: all 0.3s ease-in-out;
  }

.class-content {
  text-align: center;
  resize: horizontal;
}

.class-title {
  text-align: left;
  font-family: "Julee", cursive;
}